.heading_primary {
    margin-top: 2rem;
    font-size: 2.5rem;
    color: var(--mainColor);
    text-transform: uppercase;
    font-weight: 700;
}

.heading_secondary {
    font-family: serif;
    font-style: italic;
    font-size: 5rem;
}

.paragraph {
    margin: 2rem 0;
    font-size: 1.6rem;
}