.flowers {
    position: relative;
    background: url('../assets/bg@2x.jpg') no-repeat center/cover;
    height: 40vh;
    margin: 2rem 0;

    @include overlay;

    @include respond(tab-port) {
        height: 30vh;
    }

    &_motto {
        position: absolute;
        bottom: 20%;
        right: 50px;
        color: var(--lightColor);
        font-family: serif;
        font-style: italic;
        font-weight: 300;
        font-size: 4rem;
        animation: text 4s linear infinite;

        @include respond(tab-port) {
            width: 500px;
        }

        @include respond(phone) {
            width: 300px;
            right: 5px;
            font-size: 3rem;
        }
    }
}

.experts {
    max-width: 114rem;
    margin: 4rem auto;
}

.cards {
    padding: 1rem 0;
    background-color: var(--greyColor);
}

.contact {
    margin-top: 4rem;
}